---
# Only the main Sass file needs front matter (the dashes are enough)
---
$grey-color-dark: #333;  // Adjust this to your preferred dark grey shade

@charset "utf-8";

@import "user_vars";  // Now first
@import "custom";

$header-background-invert: 0%;

// Our variables
$base-font-family: 'Open Sans', Helvetica, Arial, sans-serif;
$base-font-size:   .95em;
// ... rest of your variables ...

// Import partials
@import
    "header",
    "mobile-header",
    "base",
    "layout",
    "syntax-highlighting",
    "fancy-image";
